<div class="row">
  <div class="col-md-4">
    <span class="name">{{answer.name}}</span><br>
    <span class="date">{{answer.date}}</span>
  </div>
  <div class="col-md-8">
    <span class="question">{{answer.answer}}</span>
  </div>
</div>
