<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="name">
        {{answer.name}}
      </div>
      <div class="date">
        {{answer.date}}
      </div>
    </div>
    <div class="col-xs-9">
      <div class="question">
        {{answer.answer}}
      </div>
    </div>
  </div>
</div>
