.title {
  font-size: 36px;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
  font-family: "The Amazing Spider-Man";
  color: red;
  padding: 10px;
}
#main-page{
  /*background-image: url("img/background4.jpg");*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;

}
#question-page{
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
}

#footer {
  background-color: rgba(0, 0, 0, 0.4);

}

.name, .date {
  font-family: "American Captain";
  font-size: 20px;
  color: lightgray;
}

.jumbotron {
  text-align: center;
  background-image: url("img/background3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;;
  background-size: cover;
  /*box-shadow: -10px 10px 10px;*/
  /*opacity: 0.9;*/
  color: lightgray;
  height: 18vh;
}

/*#footer {
  text-align: center;
  background-image: url("img/background3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;;
  background-size: cover;
  box-shadow: -10px 10px 10px;
  /*opacity: 0.9;*/
  color: lightgray;
  height: 15vh;
}*/

img {
  width: 20%;
}

#site-title {
  font-family: "Avengeance";
  font-size: 60px;
}

body {
  background-image: url("img/marvel2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-image {
  width: 9%;
}
