.jumbotron {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  /*height: 18vh;*/
  /*background-image: url("img/background3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;;
  background-size: cover;*/
  /*box-shadow: -10px 10px 10px;*/
}

#site-title{
 font-size: 50px;
 color: lightgray;
 font-family: "Avengeance";
}

.title {
  font-size: 36px;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
  font-family: "The Amazing Spider-Man";
  color: red;
  margin: 0;
  padding: 15px;
}

#main-page{
  /*background-image: url("img/background4.jpg");*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
  border-radius: 5%;
}
#question-page{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.question{
  background-color: rgba(229, 224, 224, 1);
  padding: 20px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
}

.question-data{
  padding: 10px;
}

#question-update{
  text-align: center;
  padding-top: 10px;
}

#update-button{
  padding-top: 10px;
  display:block;
  margin: 0 auto;
}

#footer {
  background-color: rgba(0, 0, 0, 0.8);

}

.name, .date {
  font-family: "American Captain";
  font-size: 18px;
  color: lightgray;
}

img {
  width: 20%;
}


body {
  background-image: url("img/marvel2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-image {
  width: 9%;
}

h1, h2, h3 {
  color: lightgray;
}

#answers {
  font-size: 36px;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
  font-family: "The Amazing Spider-Man";
  color: red;
  padding: 10px;
}
