<div class= "container">
  <!-- <div class="floating-header container"> -->

  {{#link-to 'index'}}
  <header class= "jumbotron" id="site-title">

  </header>
  {{/link-to}}
  <!-- <nav class="navbar navbar-default" id="nav-bar">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index'}}<img id="home-image" src="http://2.bp.blogspot.com/-CfcNNFkQgKg/VVA2-IZrYMI/AAAAAAAACW4/2UKFilGssf0/s1600/Marvel-comics-logo-vector.png" alt="" />{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav> -->
  <div class="row" id="testing">
    {{outlet}}
  </div>
  <hr>
  <footer id="footer">

  </footer>
</div>
