<div class="container" id="question-page">
  <div class="row" id="questions">
    {{question-detail question=model}}
  </div>
  <div class="row" id="answers">
    {{new-answer saveAnswer="saveAnswer" question=model}}
  </div>
</div>
